:root {
  --rosewater: hsl(9.600, 55.556%, 91.176%);
  --flamingo: hsl(0.000, 58.730%, 87.647%);
  --pink: hsl(316.471, 71.831%, 86.078%);
  --mauve: hsl(267.407, 83.505%, 80.980%);
  --red: hsl(343.269, 81.250%, 74.902%);
  --maroon: hsl(350.400, 65.217%, 77.451%);
  --peach: hsl(22.957, 92.000%, 75.490%);
  --yellow: hsl(41.351, 86.047%, 83.137%);
  --green: hsl(115.455, 54.098%, 76.078%);
  --teal: hsl(170.000, 57.353%, 73.333%);
  --sky: hsl(189.184, 71.014%, 72.941%);
  --sapphire: hsl(198.500, 75.949%, 69.020%);
  --blue: hsl(217.168, 91.870%, 75.882%);
  --lavender: hsl(231.892, 97.368%, 85.098%);
  --text: hsl(226.154, 63.934%, 88.039%);
  --subtext1: hsl(226.667, 35.294%, 80.000%);
  --subtext0: hsl(227.647, 23.611%, 71.765%);
  --overlay2: hsl(228.387, 16.757%, 63.725%);
  --overlay1: hsl(229.655, 12.775%, 55.490%);
  --overlay0: hsl(230.769, 10.744%, 47.451%);
  --surface2: hsl(232.500, 12.000%, 39.216%);
  --surface1: hsl(234.286, 13.208%, 31.176%);
  --surface0: hsl(236.842, 16.239%, 22.941%);
  --base: hsl(240.000, 21.053%, 14.902%);
  --mantle: hsl(240.000, 21.311%, 11.961%);
  --crust: hsl(240.000, 22.727%, 8.627%);
  --background: rgb(32, 32, 32);
}

body {
  background-color: var(--background);
  color: var(--blue);
  margin: 0;
}

#main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 2.5vmin;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  color: var(--overlay0);
}

i > svg {
  width: 100% !important;
  height: 100% !important;
}
